*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
/* -------------------------------------------------------------------------- */
/*                                 navegacion                                 */
/* -------------------------------------------------------------------------- */
main {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
.navegacion {

  background-color: #ea5c0b;
 height:43px;
width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0px;
}
.nav_items{
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 ;
  list-style: none;
  margin-right: 30px;

 
}
.nav_items li{
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0 40px;
}
.nav_items li a{
  
  text-decoration: none;
  font-size:  22px;
  color: #fff;
}
.nav_items li a:hover{
  color: #0d47a1;
}
.btn_menu{
  margin-right: 30px;
  font-size:25px;
  color: #fff;
  cursor: pointer;
  display: none;

}
ul.show{
top: 40px;

}

/* -------------------------------------------------------------------------- */
/*                                   galeria                                  */
/* -------------------------------------------------------------------------- */
.encabezado {
  text-align: center;
  padding: 20px 0;
  background-color: #f3f3f3;
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}
.columnaGal {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.columnaGal img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.columnaGal img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  visibility: hidden;
  opacity: 0;
}
.overlay .slideshow {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  position: relative;
  display: flex;
  justify-content: center;
}
.slideshow img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.btn_cerrar {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.btn_cerrar:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  cursor: pointer;
}

.botones {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
  color: #ea5c0b;
}
.botones:hover > i {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.atras {
  left: 20px;
}
.adelante {
  right: 20px;
}
.mdi {
  pointer-events: none;
}
@media screen and (max-width:952px){
  .nav_items li a{
font-size: 16px;

  }
  
}
@media screen and (max-width:768px){
  .navegacion{
    
    width: 100%;
    position:fixed;

  }
}
@media screen and (max-width:858px){
.navegacion{
  height:40px
}
  
  .btn_menu{
    display: inline-flex;
    margin:0 auto;
  }
  .nav_items{
    position:fixed;
    width: 100%;
    background-color: #ea5c0b;
    /* height: calc(100%-65px); */
    top:-100vh;
    text-align: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    padding-bottom: 30px;
    margin: 0 auto;
}


}
@media screen and (max-width: 800px) {
  .columnaGal {
    flex: 33%;
    max-width: 50%;
  }
  .botones {
    font-size: 55px;
  }
  .atras {
    left: 5px;
  }
  .adelante {
    right: 5px;
  }
  .slideshow img {
    width: 98%;
  }
}
@media screen and (max-width: 600px) {
  .columnaGal {
    flex: 100%;
    max-width: 100%;
  }
}
