/*=======================================================================================================
=                                              Estilos generales                                        =
========================================================================================================*/
@font-face {
  font-family: "MANDINGO";
  src: url("../fonts/MANDINGO.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArialBold";
  src: url("../fonts/arial-rounded-mt-bold.ttf");
  font-weight: normal;
  font-style: normal;
}

*::selection {
  background-color: #0d47a1;
  color: #fff;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "MANDINGO", sans-serif;
  font-size: 16px;
  background-color: #fff;
  position: relative;
}
h1,
h2,
h3,
h4 {
  color: #ea5c0b;
}

p {
  font-family: "ArialBold", sans-serif;
  /* text-align: justify; */
}
a{
  text-decoration: none;
}
nav ul li a:before{
  content: " ";
  background-color: #0d47a1;
  position: absolute;
  bottom: 6px;
  height: 0px;
  width: 0px;
}
nav ul li a:hover::before{
  width: 100%;
  right: -3px;
  height: 3px;
}
video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}
.full-reset {
  margin: 0;
  padding: 0;
  width: 100%;
}
.font-cover {
  height: 800px;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}

.center-box {
  margin: 0 auto;
  width: 180px;
}
.btn-up {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 9999;
  background: transparent;
  width: 29px;
  height: auto;
  color: #0d47a1;
  line-height: 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  text-shadow: 0 0 1px #333;
  display: none;
}
.divider-general {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #efcdcd;
}
.table > tbody > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}
/*************** Estilos del header y nav ***************/
.header {
  background-color: #ea5c0b;
  height: 60px;
  color: #fff;
  position: relative;
  z-index: 97;
}
.agrandar {
  font-size: 1.5em;
  display: flex;
  align-content: center;
}
.logo {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  /* font-family: "Fjalla One", sans-serif; */
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
}
.navigation {
  height: 50px;
  width: 85%;
  position: absolute;
  top: 0;
  right: 0;
}
.navigation ul {
  height: 50px;
  padding-right: 15px;
  text-align: right;
}
.navigation ul li {
  position: relative;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 0 1px;
}
.navigation ul li a {
  position: relative;
  text-align: center;
  color: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 22px;
  padding: 0 5px;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navigation ul li a:active,
.navigation ul li a:focus {
  outline: none;
  text-decoration: none;
}
.navigation ul li a:hover {
  color: #2e4b9a;
  text-decoration: none;
}
.button-menu-mobile {
  margin: 0;
  padding: 0 17px;
  font-size: 25px;
  position: relative;
  top: -43px;
  color: #fff;
  line-height: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.button-menu-mobile:focus,
.button-menu-mobile:active {
  color: #fff;
  outline: none;
}
.button-menu-mobile:hover {
  color: #fff;
}
.mega-menu {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #ea5c0b;
  color: #fff;
  z-index: 99999;
  border-top: 1px solid #fff;
  padding: 20px 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s all ease-in-out;
}
.mega-menu span {
  color: #f0f4c3;
}
.mega-menu ul {
  padding: 10px 0 0 0;
}
.mega-menu ul li,
.mega-menu ul li a {
  height: 30px;
  line-height: 30px;
}
.mega-menu ul li {
  display: block;
  width: 100%;
}
.mega-menu ul li a {
  color: #fff;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.mega-menu ul li a:hover {
  text-decoration: none;
  color: #2e4b9a;
}
.mega-menu ul li a:active,
.mega-menu ul li a:focus {
  outline: none;
  text-decoration: none;
}
.show-mega-menu {
  opacity: 1;
  height: auto !important;
  pointer-events: auto;
}
.close-mega-menu {
  color: #fff !important;
  position: absolute;
  cursor: pointer;
  right: 15px;
  bottom: 10px;
}
.logo {
  top: 5px;
  width: 400px;
  margin-left: 10px;
}

/*************** Estilos del pie de pagina ***************/

.footer2   {
  clear: both;
  color: #fff;
  background-color: #ea5c0b;
  position: absolute;
  bottom: 0;
 
}
.footer {
  clear: both;
  color: #fff;
  background-color: #ea5c0b;
  position: relative;
  height: auto;
}
.footer-copyright {
  padding: 20px 0 10px 0;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.contacto {
  color: #2e4b9a;
}
.links-footer,
.subtitles-footer {
  padding-left: 50px;
  
}

.links-footer li a {
  color: #fff;
  
}
.links-footer li a:hover {
  color: #2e4b9a;
  text-decoration: none;
}
.links-footer li a:active,
.links-footer li a:focus {
  outline: none;
  text-decoration: none;
  color: #2e4b9a;
}

a.tel {
  text-decoration: none;
  color: #fff;
}
a.tel:hover {
  color: #2e4b9a;
}
a.correo {
  text-decoration: none;
  color: #fff;
}
.correo:hover {
  color: #2e4b9a;
}
/*=======================================================================================================
=                                              Estilos index                                            =
========================================================================================================*/
.descarga-btn {
  text-align: center;
}

.Logo-Ins-Index img {
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 400px;
}

.icon-index {
  font-size: 190px;
  margin: 15px;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  display: block;
  text-align: center;
  color: #b0b0b0;
}
/************** Sitios de la instituci칩n ***************/
.important-links-index {
  background-color: #f7f7f7;
  padding: 60px 0;
  height: auto;
}
.important-links-index a {
  border: 1px solid #737373;
  background-color: transparent;
  height: 130px;
  width: 130px;
  display: inline-block;
  border-radius: 50%;
  color: #737373;
  margin: 30px 20px;
  text-align: center;
  transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
.important-links-index a:hover {
  text-decoration: none;
  background-color: #0d47a1;
  border: 1px solid #ea5c0b;
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.important-links-index a:hover p,
.important-links-index a:hover i {
  color: #fff;
}
.important-links-index a:active,
.important-links-index a:focus {
  outline: none;
  text-decoration: none;
}
.important-links-index a i,
.important-links-index a p {
  transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -webkit-transform: translateY(25px);
}
.important-links-index a i {
  font-size: 45px;
}
.important-links-index a p {
  font-size: 18px;
}

/************** Estilos eventos***************/
.events-ins {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  height: auto;
  background-color: #fff;
}

/* -------------------------------------------------------------------------- */
/*                             Estilos Admisiones                          */
/* -------------------------------------------------------------------------- */
.containerRequisito {
  display: flex;
  align-content: center;

  justify-content: space-around;
}
.titlesAdm {
  text-align: center;
  font-size: 30px;
  color: #ea5c0b;
}

.containerImgs {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* -------------------------------------------------------------------------- */
/*                                  conocenos                                 */
/* -------------------------------------------------------------------------- */

.logoAzul {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 250px;
  /* display: block;
  margin: 0 auto; */
}
.containerCon {
  display: flex;

  justify-content: space-around;

  width: 1700px;
  height: 300px;
  /* outline: crimson solid 1px; */
  margin: 0 auto;
}
.con0 {
  max-width: 600px;
  text-align: justify;
}
.containerLogoAzul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*=======================================================================================================
=                                            Estilos institucion                                        =
========================================================================================================*/
/*************** Estilos de la navegacion ***************/
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #0d47a1;
  border-color: #0d47a1;
}
.containers {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  flex-wrap: wrap;
}
.item {
  max-width: 100%;
  max-height: 100%;
  background-color: #e6bda6;
}

.item0 {
  max-width: 300px;
  max-height: 100%;
  background-color: #e6bda6;

  /* padding: auto; */
}

.info-section-ins article {
  padding: 50px 0;
}
.scroll-navigation-ins {
  position: fixed;
  padding-top: 60px;
  height: 100%;
  top: 0;
  right: 0;
  width: 270px;
  border-left: 1px solid #efcdcd;
  background-color: #f8f8f8;
}
.scroll-navigation-ins ul li {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  margin: 0;
  color: #0d47a1;
  -mos-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.scroll-navigation-ins ul li:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #0d47a1;
}
.scroll-navigation-ins figure img {
  height: 100px;
}
#mapa-ins {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  border-radius: 4px;
}
/*=======================================================================================================
=                                             Estilos galeria                                           =
========================================================================================================*/
.section-gallery-ins {
  background-color: #fff;
  padding: 30px 0;
  width: 100%;
}
.section-gallery-ins > article {
  padding-bottom: 30px;
  padding-top: 30px;
}
.section-gallery-ins > article > h2 {
  padding-bottom: 40px;
}
.tile-gallery {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px dashed #efcdcd;
  margin: 10px 0;
}
.gallery2 img {
  width:200px;
  height:150px;

}
.tile-gallery img {
  max-width: 200px;
  max-height: 200px;
  margin: 15px auto;
  display: block;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.tile-gallery p {
  color: #000000;
}
.tile-gallery span {
  display: block;
  color: #696969;
  margin-bottom: 10px;
}
.tile-gallery a {
  color: #b0b0b0;
  display: block;
  font-size: 19px;
  margin: 10px 0;
  text-align: center;
  transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
.tile-gallery a:hover {
  text-decoration: none;
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  color: #333;
}
.tile-gallery a:active,
.tile-gallery a:focus {
  outline: none;
  text-decoration: none;
}
/*=======================================================================================================
=                                        Media queries                                                  =
========================================================================================================*/

/* col-xs */
@media (max-width: 767px) {
  .font-cover {
    background-attachment: inherit;
  }
  .navigation {
    height: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: #ea5c0b;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    z-index: 10000;
  }
  .show-navigations {
    pointer-events: auto;
    opacity: 1;
    height: auto !important;
  }
  .navigation ul {
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
  }
  .navigation ul li {
    display: block;
    height: auto;
    padding: 0;
  }
  .navigation ul li a {
    text-align: left;
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .links-footer,
  .subtitles-footer {
    padding-left: 0;
    text-align: center;
    
  }
  #mapa-ins {
    margin: 0 auto;
    width: 90%;
    height: 370px;
  }
  .close-mega-menu {
    bottom: 0;
    top: 7px;
  }
  .mega-menu ul {
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .mapa {
    width: 100%;
    height: 490px;
  }
  .nombreMobile {
    font-size: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 300px;
    font-size: 20px;
    position: relative;
    height: 50px;
    margin-left: 10px;
  }
  .item0 {
    max-width: 100%;
  }
  .containers {
    width: 100%;
  }
  .containerRequisito {
    flex-direction: column;
    margin: 10px;
    padding-right: 20px;
  }

  p.lead {
    margin: 10px;
    font-size: 16px;
  }
  p.conocenos {
    font-size: 16px;
  }

  .containerCon {
    width: 100%;
    padding-right: 40px;
    height: 100%;
    flex-wrap: wrap;
  }
  .con0 {
    max-width: 100%;
  }
  nav ul li a:before{
background-color: transparent;

  }
  .footer2{
    position: relative;
    height: auto;
  }
}
/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .scroll-navigation-ins {
    width: 235px;
  }
  .logo {
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
  }

  .mapa {
    width: 100%;
    height: 490px;
  }
  .containers {
    width: 100%;
  }

  .item0 {
    max-width: 100%;
  }
  .navigation ul li a {
    font-size: 16px;
  }
  .containerRequisito {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  p.lead {
    margin: 10px;
    font-size: 21px;
  }
  .containerCon {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  .con0 {
    max-width: 320px;
  }
  .footer2{
    position: relative;
    height: auto;
  }
}

/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {
  .navigation {
    width: 64%;
  }
  .logo {
    width: 36%;
    font-size: 20px;
  }
  .scroll-navigation-ins {
    width: 230px;
  }
  .mapa {
    width: 100%;
    height: 490px;
  }
  .logo {
    margin-left: 10px;
    font-size: 1em;
    text-align: left;
    width: 500px;
  }
  .containers {
    width: 100%;
  }
  .item0 {
    max-width: 100%;
  }
  .navigation ul li a {
    font-size: 16px;
  }
  .containerRequisito {
    margin-left: 10px;
    
  }

  p.lead {
    margin: 10px;
  }
  .containerCon {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  .con0 {
    max-width: 400px;
  }
  .footer2{
    position: relative;
    height: auto;
  }
}

/* col-lg */
@media (min-width: 1200px) and (max-width: 1440px) {
  .navigation {
    width: 60%;
  }
  .logo {
    width: 40%;
  }
  .mapa {
    width: 100%;
    height: 490px;
  }
  .logo {
    margin-left: 10px;
    font-size: px;
    text-align: left;
    width: 500px;
  }
  .containers {
    width: 100%;
  }

  .item0 {
    max-width: 100%;
  }
  .navigation ul li a {
    font-size: 16px;
  }
  .containerRequisito {
    margin-left: 10px;
  }

  p.lead {
    margin: 10px;
  }
  .containerCon {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  .con0 {
    max-width: 400px;
  }
}
@media (min-width: 1441px) and (max-width: 1700px) {
  .containerCon {
    width: 100%;
    height: 300px;
  }
  .con0 {
    max-width: 600px;
  }
  .footer2{
    position: relative;
    height: auto;
  }
}
/* -------------------------------------------------------------------------- */
/*                          media queries ni침os 3 y 4                         */
/* -------------------------------------------------------------------------- */
@media (min-width: 801px) and (max-width: 1101px) {
  .ni침o4 {
    display: none;
  }
}
@media (min-width: 551px) and (max-width: 851px) {
  .ni침oCon {
    display: none;
  }
  .containerLogoAzul {
    padding-bottom: 40px;
  }
}
